/* body{
    background-color: #f5f5f5 ;
    width: 320px;
    height: 512px;
} */

.weatherCard-title {
    font-size: 24px !important;
}

.weatherCard-body {
    font-size: 16px !important;
}

.weatherCard-temp{
    font-size: 45px !important;
}

.bodyGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
}

.weatherName{
    font-size: 16px !important;
    /* padding-left: 13px; */
    text-align: center;
}